{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <style>
        .btn{
            width: auto;
            height: auto;
            margin-left: 600px;
            color: #001A23;
            background-color: #F1FAEE ;
            border-radius: 50px;
            font-size: 1.5em;
            border-radius: 50px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .btn:hover{
            background: #73b3de;
            color:#001A23 ;
        }
        .col{
            background-color:#001A23;
            width: 80px;
            color: white;

        }
        h2{
            text-align: center;
        }
    </style>
    <section class="container my-3">
        <div class="row">
            <div class="col" style="margin-top: 180px">
                <h2>Réinitialisation de mot de passe</h2>
                <br><br>
                {{ form_start(passForm) }}
                {{ form_row(passForm.password.first) }}
                {{ form_row(passForm.password.second) }}

                <button type="submit" class="btn">Envoyer</button>
                {{ form_end(passForm) }}
            </div>
        </div>
    </section>

{% endblock %}