{% extends 'base.html.twig' %}

{% block title %}Edit PaymentS{% endblock %}

{% block body %}
    <h1>Edit PaymentS</h1>

    {{ include('payment_s/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_payment_s_index') }}">back to list</a>

    {{ include('payment_s/_delete_form.html.twig') }}
{% endblock %}
