{% extends 'backBase.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <style>
        .form input, .form textarea {
            display: block;
            margin-bottom: 10px;
            border-radius: 20px;
        }


        .form label {
            font-weight: bold;
            font-size: medium;
            display: block;
            margin-bottom: 5px;
            color: white;
        }
        .form {
            width: 80%;
            margin: 0 auto;
            background-color: #001A23;
            padding: 60px;
            border-radius: 20px;
        }

        .upload {
            display: block;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 20px;
        }

        .btn {
            /*display: block;*/
            margin-top: 10px;
            margin-bottom: auto;
            border-radius: 20px;
            color: white;
            border-color: white;
        }
        .btn:hover {
            background-color: white;
            color: #001A23;
        }




    </style>
    <h1>Create new Question</h1>

    {{ include('question/_form.html.twig') }}

    <a href="{{ path('app_question_index') }}">back to list</a>
{% endblock %}
