{% extends 'base.html.twig' %}

{% block title %}Edit Jaime{% endblock %}

{% block body %}
    <h1>Edit Jaime</h1>

    {{ include('jaime/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_jaime_index') }}">back to list</a>

    {{ include('jaime/_delete_form.html.twig') }}
{% endblock %}
