{% extends 'base.html.twig' %}

{% block title %}New Jaime{% endblock %}

{% block body %}
    <h1>Create new Jaime</h1>

    {{ include('jaime/_form.html.twig') }}

    <a href="{{ path('app_jaime_index') }}">back to list</a>
{% endblock %}
