{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
             style="background-image: url('../frontOffice/assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Reservation</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Reservation pour l'evenement {{ event.nom }}  {{ app.user.id}} {{app.user.nom}}</h1>
    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
