{% extends 'base.html.twig' %}

{% block title %}New Commandeproduit{% endblock %}

{% block body %}
    <h1>Create new Commandeproduit</h1>

    {{ include('commande_produit/_form.html.twig') }}

    <a href="{{ path('app_commande_produit_index') }}">back to list</a>
{% endblock %}
