{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    {# <h1>Create new Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}">back to list</a>#}
    <div class="row my-4">
        <div class="col-md-8 mx-auto">


            <div class="col-md-8 mx-auto">

                <div class="card">
                    <div class="card-header">
                        Create new produit
                    </div>

                </div>
                <div class="card-body"></div>
                {% include 'produit/_form.html.twig' %}
                <a href="{{ path('app_produit_index') }}">back to list</a>
            </div>

        </div>
    </div>

{% endblock %}
