{% extends 'base.html.twig' %}

{% block body %}

    <div class="row my-4">
        <div class="col-md-8 mx-auto">

            <div class="card">
                <div class="card-header">
                    Create new produit
                </div>
                <div class="card-body">
                    {{ include('produit/_form.html.twig', {'button_label': 'Add Product'}) }}
                </div>
            </div>

            <a href="{{ path('app_produit_index') }}">back to list</a>
        </div>
    </div>

{% endblock %}
