{% extends 'backBase.html.twig' %}

{% block title %}QuizQuestion index{% endblock %}

{% block body %}

    <style>



        btn{
            /*display: block;*/
            margin-top: 10px;
            margin-bottom: auto;
            border-radius: 20px;
            color: white;
            border-color: white;
        }
        .btn:hover {
            background-color: white;
            color: #001A23;
        }
        .btn {
            background-color: #001A23;
            color: white;
            border-radius: 20px;
            float: right;
        }

        .btnn{
            /*display: block;*/
            margin-top: 10px;
            margin-bottom: auto;
            border-radius: 20px;
            color: white;
            border-color: white;
            background-color: #001A23;
        }
        .btnn:hover {
            color: white;
        }


    </style>

    <h1 class="container">QuizQuestion index</h1>

    <table class="container table">
        <thead>
            <tr>
                <th>Id</th>
                <th style="float: right">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz_question in quiz_questions %}
            <tr>
                <td>{{ quiz_question.id }}</td>
                <td>
                    <form method="post" action="{{ path('app_quiz_question_delete', {'id': quiz_question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quiz_question.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form class="container" action="{{ path('app_quiz_question_new') }}" method="POST">
        <button class=" btn btnn" style="background-color: #0b1526; width: 100%"  type="submit">Create new Quiz</button>
    </form>
{% endblock %}
