{% extends 'backBase.html.twig' %}

{% block title %}Quiz BackOffice Management{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_FULLY') %}
        <style>
                .flex {
                    display: flex;
                    justify-content: space-around;
                }

                .button {
                    font-size: x-large;
                    color: #000000;
                    background-color: #e1dcfa;
                    padding: 10px;
                    border-radius: 5px;
                    width: 300px;
                    height: auto;
                    text-align: center;
                    text-align-all: center ;
                    text-decoration: none;
                    display: inline-block;
                    margin: 4px 10px;
                    cursor: pointer;
                }
                /*.container {*/
                /*    display: flex;*/
                /*    justify-content: center;*/
                /*    align-items: center;*/
                /*}*/
            </style>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Quiz BackOffice Management</h1>
                        <h5>Here you can manage your quizzes and questions.</h5>
                    </div>
                </div>
            </div>

            <div class="container flex ">
                <a class="button" href="{{ path('app_question_new') }}"> Add Question </a>
                <a class="button" href="{{ path('app_question_index') }}">List Questions</a>
                <a class="button" href="{{ path('app_quiz_new') }}"> Add Quiz </a>
                <a class="button" href="{{ path('app_quiz_index') }}">List Quizzes</a>
            </div>
    {% else %}
        {% include 'errorpage.html.twig' %}
        <section id="hero" class="hero d-flex flex-column ">
        </section>
    {% endif %}

{% endblock %}