{% extends 'base.html.twig' %}

{% block title %}Edit Stripep{% endblock %}

{% block body %}
    <h1>Edit Stripep</h1>

    {{ include('stripep/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stripep_index') }}">back to list</a>

    {{ include('stripep/_delete_form.html.twig') }}
{% endblock %}
