<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Detail</th>

    </tr>
    {%for p in pp%}
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.cin}}</td>
            <<td> {{ p.nom }}</td>
        </tr>
    {%endfor%}
</table>