{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-40">
                <h3>Facture</h3>
                <input type="text" class="form-control" id="myInput" placeholder="Search">
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Datefacture</th>
                        <th>Tva</th>
                        <th>Refrancefacture</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">

                    <tr>
                        <td>01/01/2023</td>
                        <td>20%</td>
                        <td>ABC123</td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}
